.logo {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}
