.container {
  @include container;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer__container {
  display: flex;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
}

.address__contact {
  margin-top: 9px;
}

.address__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.street__link {
  color: #ffffff;
  transition: color var(--transit);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transit);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social__list {
  display: flex;
  margin-top: 20px;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.signup {
  margin-left: auto;
}

.signup__button {
  display: flex;
  gap: 10px;
  justify-content: center;
  fill: #ffffff;
}
